<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trie</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="container mt-5">
    <h1 class="text-center">Trie</h1>

    <form method="get" class="mb-4">
      <h2>Digite um Prefixo</h2>
      <input
        type="text"
        name="prefix"
        class="form-control"
        required
        placeholder="Digite um prefixo"
      />
      <button type="submit" class="btn btn-secondary mt-2">
        Buscar Sugestões
      </button>
    </form>

    {% if message %}
    <div class="alert alert-info">{{ message }}</div>
    {% endif %}

    <h2>Sugestões:</h2>
    <ul>
      {% for suggestion in suggestions %}
      <li>{{ suggestion }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
