<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interface da Trie</title>
    <!-- Link para o Bootstrap -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="container mt-5">
    <h1 class="text-center">Estrutura de dados Trie</h1>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <form method="post" class="mb-4">
          {% csrf_token %}
          <h2>Inserir Palavra</h2>
          <div class="form-group">
            <input
              type="text"
              name="word"
              class="form-control"
              placeholder="Digite uma palavra"
              required
            />
            <input type="hidden" name="action" value="insert" />
          </div>
          <button type="submit" class="btn btn-primary">Inserir</button>
        </form>

        <form method="post" class="mb-4">
          {% csrf_token %}
          <h2>Buscar Palavra</h2>
          <div class="form-group">
            <input
              type="text"
              name="word"
              class="form-control"
              placeholder="Digite uma palavra"
              required
            />
            <input type="hidden" name="action" value="search" />
          </div>
          <button type="submit" class="btn btn-secondary">Buscar</button>
        </form>

        <form method="post" class="mb-4">
          {% csrf_token %}
          <h2>Verificar Prefixo</h2>
          <div class="form-group">
            <input
              type="text"
              name="prefix"
              class="form-control"
              placeholder="Digite um prefixo"
              required
            />
            <input type="hidden" name="action" value="starts_with" />
          </div>
          <button type="submit" class="btn btn-success">Verificar</button>
        </form>

        {% if message %}
        <div class="alert alert-info">{{ message }}</div>
        {% endif %}
      </div>
    </div>

    <!-- Script do Bootstrap (opcional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
